<%- include('partials/header') %>
<% let num = 0; %>
<div class="container">
	
<% data.forEach((news)=>{ %>
	<% num = num + 1; %>
	<div class="accordion" id="accordionExample">
	  <div class="card">
		<div class="card-header" id="headingOne">
			<h2 class="mb-0">
			<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse<%= num %>" aria-expanded="true" aria-controls="collapseOne">
			  <%= news.title %>
			</button>
		  </h2>
		</div>

		<div id="collapse<%= num %>" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
		  <div class="card-body">
			<%= news.description %>
			  <%= num %>
			  <div>
			  	<a href="<%= news.url %>">Read More</a>
				 <div>
 	  				<%= news.publishedAt %>
				  </div>
			  	<div style="float: right;">
	  				<%= news.author %>					
			  	</div>
			  </div>
			  
		  </div>
		</div>
	  </div>
	</div>

<% }) %>
</div>


<%- include('partials/footer') %>